@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  padding: 1rem;
  background: hsl(231, 15%, 40%);
  font-family: Roboto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.text-gradient-red {
  background: -webkit-linear-gradient(
    bottom right,
    rgb(231, 84, 46),
    rgb(241, 107, 52)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: -webkit-linear-gradient(
    bottom right,
    rgb(20, 118, 188),
    rgb(53, 173, 222)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
